<!-- <p>texas works!</p> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 middle-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 heading-container">
                        <h3 class="heading">Texas Pro Academy</h3>
                        <p class="sub-heading">Branding / Graphic Design / UI / UX / Web Design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 right-container">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 image-container">
            <img src="/texas-big-image.png" id="image" alt="image">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 second-left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 second-middle-container">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 project-container">
                    <h3 class="project-heading">About This Project</h3>
                    <h3 class="project-desc">Lacinia pulvinar at diam, urna, non blandit. Cras id enim tortor nascetur.
                        Cursus ante eu nam ut non vestibulum sem. Ullamcorper quis varius eu, vel. Sagittis ut
                        suspendisse et, nec. Parturient eu iaculis sit dolor, erat mauris. Leo at egestas aliquet duis
                        pellentesque amet. Proin mattis ac ornare malesuada sed. Diam libero tortor suspendisse molestie
                        non duis enim. Lectus pulvinar euismod et risus egestas. Cursus porttitor id faucibus eu
                        vestibulum. Eu blandit faucibus nulla adipiscing amet ullamcorper.</h3>

                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 project-solution-container">

                    <h3 class="project-heading-1">Challenge</h3>
                    <h3 class="project-desc-1">Ultricies massa iaculis vestibulum egestas vestibulum, cursus. Leo non
                        arcu ultricies senectus a purus sed.</h3>

                    <h3 class="project-heading-2">Solution</h3>
                    <h3 class="project-desc-2">Sit tellus id proin viverra iaculis pellentesque ornare. Diam augue sit
                        feugiat porttitor leo, fusce vel ac. Placerat vulputate quisque.


                    </h3>

                </div>
            </div>

            <div class="image-bucket">
                <img src="texas-1.png" class="img-fluid" id="texas-1" alt="texas-1">
                <img src="texas-2.png" class="img-fluid" id="texas-2" alt="texas-2">
                <img src="texas-3.png" class="img-fluid" id="texas-3" alt="texas-3">
                <img src="texas-4.png" class="img-fluid" id="texas-4" alt="texas-4">
                <img src="texas-5.png" class="img-fluid" id="texas-5" alt="texas-5">
            </div>
            
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 result-heading-container">
                        <h3 class="result-heading">Results</h3>

                    </div>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 result-desc-container">
                        <h3 class="result-desc">
                            Vitae eget in vulputate quam. Turpis habitasse egestas vitae, sed tortor, nunc. Enim, magna
                            duis lectus mauris magna orci, nunc. Tincidunt ultrices mauris, sed quisque. Vulputate
                            volutpat egestas facilisi morbi proin sagittis. Ipsum eleifend commodo eu, at et adipiscing.
                            Viverra turpis sem in tincidunt viverra aliquet eleifend. Adipiscing elit, donec volutpat
                            ante aliquet imperdiet quis hendrerit.</h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 request-conntainer">
                                    <h3 class="request">+1200</h3>
                                    <h3 class="request-1"><b>Requests</b> per Week</h3>

                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 client-container">
                                    <h3 class="client">+760</h3>
                                    <h3 class="client-1"><b>New Clients</b> per Month</h3>

                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 sales-container">
                                    <h3 class="sale">+480</h3>
                                    <h3 class="sale-1"><b>Remote</b> Sales Experts</h3>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-2 col-sm-2 col-md-2 col-lg-2 second-right-container">

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 third-left-container">


        </div>
        <div class="col-=8 col-sm-8 col-md-8 col-lg-8 third-middle-container">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 thought-left-container">

                </div>
                <div class="col-8 col-sm-8 col-md-8  col-lg-8 thought-right-container">
                    <i class="fa fa-quote-left" id="quote"></i>
                    <h3 class="thought">Dolor, a eget elementum, integer nulla volutpat, nunc, sit. Quam iaculis varius
                        mauris magna sem. Egestas sed sed suscipit dolor faucibus dui imperdiet at eget. Tincidunt
                        imperdiet quis hendrerit aliquam feugiat neque cras sed. Dictum quam integer volutpat tellus,
                        faucibus platea. Pulvinar turpis proin faucibus at mauris.</h3>

                    <div class="row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 name-container">
                            <h3 class="name">Ralph Edwards</h3>
                            <h3 class="designation">Head of Marketing</h3>


                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 logo-container">
                            <img src="/logo.png" class="img-fluid" id="logo" alt="logo">
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 third-right-container">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 forth-left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 forth-middle-container">

            <h3 class="explore-heading">Explore More Projects</h3>


            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 forth-inside-left-container">
                    <div class="card" id="CardOne">
                        <img src="/mobile.jpeg" class="card-img-top" alt="..." [routerLink]="['/contact-us']">
                        <div class="card-body">
                            <p class="card-text" [routerLink]="['/contact-us']">Mobile App Development</p>
                            <p class="hide">Mobile App Design/ UI/UX</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4 forth-inside-middle-container">

                    <div class="card" id="CardTwo">
                        <img src="/texas.png" class="card-img-top" alt="..." [routerLink]="['/texas']">
                        <div class="card-body">
                            <p class="card-text" [routerLink]="['/texas']">Texas Pro Academy</p>
                            <p class="hide">Branding/Graphic Design/ UI/UX</p>
                        </div>
                    </div>
                </div>




                <div class="col-4 col-sm-4 col-md-4 col-lg-4 forth-inside-right-container">

                    <div class="card" id="CardFour">
                        <img src="/texas.png" class="card-img-top" alt="..." [routerLink]="['/texas']">
                        <div class="card-body">
                            <p class="card-text" [routerLink]="['/texas']">Texas Pro Academy</p>
                            <p class="hide">Mobile App Design/ UI/UX</p>
                        </div>
                    </div>


                </div>


            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 forth-right-container">

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 fifth-left-container">
           

        </div>
        <div class="col-8 col-sm-8  col-md-8 col-lg-8 fifth-middle-container">

            <h3 class="contact-espousal">Want to work with us? Let's talk</h3>
            <h3 class="contact-email">info&#64;espousal.co.in</h3>
            <button id="buisness-button"[routerLink]="['/contact-us']" class=" btn file-action-btn submit-btn-color ">
                Contact Us
                </button>

        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 fifth-right-container">
            
        </div>
    </div>
</div>