<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-container">
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 middle-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 middle-inside-left-container">
                        <h3 class="form-label">about</h3>
                        <h3 class="heading">ESPOUSAL</h3>

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 middle-inside-right-container">
                        <h3 class="heading-desc">We are a dedicated team of passionate project managers, full stack developers, UX/UI designers, QA engineers and marketing experts helping businesses of every size — from new startups to public companies — launch their projects using our software .</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 right-container">
        </div>
    </div>
    <div class="container-fluid remove-all-margin-padding ">
        <img src="/istockphoto-1346944001-612x612.jpg" alt="pic" class="pic">
    </div>
</div>  
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 second-middle-container ">
            <h3 class="second-heading">Our Company</h3>
            <h3 class="second-heading-desc">Espousal is an advanced technology and design agency who take pride in delivering winning solutions and services for all customers / businesses across the globe. Our services include of Website Development, Website Design, Mobile Website and Apps, Software Integration and Configuration. Espousal also includes a highly experienced team of Ad Managers who handle Ad Campaigns on Google, Facebook and Instagram.</h3>
            <button [routerLink]="['/contact-us']" class=" btn file-action-btn submit-btn-color ">
                Work With US
              </button>
              

        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 right-container">

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 third-middle-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 middle-third-inside-left-container">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2  img-container">
                                <img class="cool-img" src="/mic-headset.jpeg" alt="mic-headset" >
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 img-text-container">
                                <h2 class="heading-2">8</h2>
                                <h3 class="heading-3"><b>Remote</b>Professionals</h3>

                            </div>
                        </div>

                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 middle-third-inside-middle-container">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2  img-container">
                                <img class="cool-img" src="/chat.jpeg" alt="mic-headset" >
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 img-text-container">
                                <h2 class="heading-2">2</h2>
                                <h3 class="heading-3"><b>Requests</b> per Week</h3>

                            </div>
                        </div>

                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 middle-third-inside-right-container">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2  img-container">
                                <img class="inner-img"src="/group.jpeg" alt="mic-headset" >
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 img-text-container">
                                <h2 class="heading-2">5</h2>
                                <h3 class="heading-3"><b>New Clients</b> per Month</h3>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 second-heading">
                        <h3 class="grid-heading">We are Powerful</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                      <img src="pic-1.jpg">
                      <img src="pic-3.jpg">
                      <img src="pic-7.jpg">
                      <!-- <img src="pic-5.jpg">
                      <img src="pic-8.jpg"> -->
                      <!-- <img src="mist.jpg">
                      <img src="paris.jpg"> -->
                    </div>
                    <div class="column">
                        <img src="pic-1.jpg">
                        <img src="pic-3.jpg">
                        <img src="pic-7.jpg">
                        <!-- <img src="pic-5.jpg">
                        <img src="pic-8.jpg"> -->
                      <!-- <img src="rocks.jpg">
                      <img src="underwater.jpg"> -->
                    </div>
                    <div class="column">
                        <img src="pic-1.jpg">
                        <img src="pic-3.jpg">
                        <img src="pic-7.jpg">
                    </div>
                    <div class="column">
                      <img src="pic-1.jpg">
                      <img src="pic-3.jpg">
                      <img src="pic-7.jpg">
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 contact-us-container">
                        <h3 [routerLink]="['/contact-us']" class=" contact ">
                            Work With US
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 slider-heading-container">
                        <h3 class="slider-heading">What Our Client Says</h3>
                    </div>
                </div>
                <div class="slider-container">
                    <button class="prev-button" (click)="prevSlide()">&#10094;</button>
                    
                    <div class="slider-content">
                      <img [src]="slides[currentSlide].image" alt="Slide Image" class="slider-image">
                      <div class="slider-text">
                        <!-- <h2>{{ slides[currentSlide].title }}</h2> -->
                        <p>{{ slides[currentSlide].description }}</p>
                      </div>
                    </div>
                  
                    <button class="next-button" (click)="nextSlide()">&#10095;</button>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 slider-heading-container">
                        <h3 class="leadership-heading">Our leadership</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 leadership-gallery">
                        <div class="gallery">
                            <a target="_blank" href="pic-1.jpg">
                              <img src="pic-1.jpg" alt="Cinque Terre" >
                            </a>
                            <div class="desc">
                                <h3 class="name">Rachit Singh</h3>
                                <h3 class="designation">Founder</h3>
                            </div>
                        </div>
                          
                        <div class="gallery">
                            <a target="_blank" href="pic-3.jpg">
                              <img src="pic-3.jpg" alt="Forest" >
                            </a>
                            <div class="desc">
                                <h3 class="name">Anthony Rodrigues</h3>
                                <h3 class="designation">CEO</h3>
                            </div>
                          </div>
                          
                        <div class="gallery">
                            <a target="_blank" href="pic-8.jpg">
                              <img src="pic-8.jpg" alt="Northern Lights" >
                            </a>
                            <div class="desc">
                                <h3 class="name">Masroor Rizvi</h3>
                                <h3 class="designation">Co-Founder</h3>
                            </div>
                          </div>
                          
                        <div class="gallery">
                            <a target="_blank" href="pic-7.jpg">
                              <img src="pic-7.jpg" alt="Mountains" >
                            </a>
                            <div class="desc">
                                <h3 class="name">Dipankar Sarkar</h3>
                                <h3 class="designation">Technical-Manager</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 buisness-container">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 buisness-left-container">
                                <h3 class="buisness-caption-1">Ready to get started?</h3>
                                <h3 class="buisness-caption-2">Take your <font color="#6378f4">Buisness </font></h3>
                                <h3 class="buisness-caption-3">to the next level</h3>
                                <button id="buisness-button"[routerLink]="['/contact-us']" class=" btn file-action-btn submit-btn-color ">
                                    Work With US
                                  </button>
                                

                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 buisness-right-container">
                                <img src="pic-10.jpg" alt="image" class="image-1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>               
        </div>

    
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 right-container">

        </div>
    </div>
    
</div>





  

                        
