<!-- <p>portfolio works!</p> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 middle-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 section-container-1">
                        <h3 class="label">Portfolio List</h3>

                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 section-container-2">

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 texas-image-container">
                        <img src="/texas.png" class="img-fluid" id="texas" alt="texas">

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 texas-desc-container">
                        <h3 class="label-desc">May 4, 2022</h3>
                        <h3 class="label-desc-1">Texas Pro Academy</h3>
                        <button id="buisness-button" class=" btn file-action-btn-mobile submit-btn-color-mobile ">
                            Branding
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-1 submit-btn-color-mobile-1 ">
                            Graphic Design
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-2 submit-btn-color-mobile-2 ">
                            UI/UX
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-3 submit-btn-color-mobile-3 ">
                            Web Design
                        </button>
                        <h3 class="label-desc-2">About This Project Lacinia pulvinar at diam, urna, non blandit. Cras id
                            enim tortor nascetur. Cursus ante eu nam ut non vestibulum sem. Ullamcorper quis varius eu,
                            vel. Sagittis ut suspendisse et, nec. Parturient eu iaculis sit dolor, erat mauris. Leo at
                            egestas aliquet duis pellentesque amet. Proin mattis ac ornare malesuada sed. Diam libero
                            […]</h3>
                        <button id="buisness-button" [routerLink]="['/texas']"
                            class=" btn file-action-btn submit-btn-color ">
                            View more
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 test-project-container">
                        <h3 class="label-desc">May 4, 2022</h3>
                        <h3 class="label-desc-1">Test Project Details</h3>
                        <h3 class="label-desc-2-test">About Lacinia pulvinar at diam, urna, non blandit. Cras id enim
                            tortor nascetur. Cursus ante eu nam ut non vestibulum sem. Ullamcorper quis varius eu, vel.
                            Sagittis ut suspendisse et, nec. Parturient eu iaculis sit dolor, erat mauris. Leo at
                            egestas aliquet duis pellentesque amet. Proin mattis ac ornare malesuada sed. Diam libero
                            tortor suspendisse […]</h3>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn submit-btn-color ">
                            View more
                        </button>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 mobile-desc-container">
                        <h3 class="label-desc">May 1, 2022</h3>
                        <h3 class="label-desc-1">Mobile Banking App</h3>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile submit-btn-color-mobile ">
                            Mobile app design
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-1 submit-btn-color-mobile-1 ">
                            UI/UX
                        </button>
                        <h3 class="label-desc-2-mobile">About This Project Lacinia pulvinar at diam, urna, non blandit.
                            Cras id enim tortor nascetur. Cursus ante eu nam ut non vestibulum sem. Ullamcorper quis
                            varius eu, vel. Sagittis ut suspendisse et, nec. Parturient eu iaculis sit dolor, erat
                            mauris. Leo at egestas aliquet duis pellentesque amet. Proin mattis ac ornare malesuada sed.
                            Diam libero […]

                        </h3>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn submit-btn-color ">
                            View more
                        </button>

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 mobile-image-container">
                        <img src="/mobile.jpeg" class="img-fluid" id="mobile" alt="mobile">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 soccer-image-container">
                        <img src="/soccer.png" class="img-fluid" id="soccer" alt="soccer">

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 soccer-desc-container">
                        <h3 class="label-desc">May 1, 2022</h3>
                        <h3 class="label-desc-1">Neighborhood Soccer Academy</h3>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile submit-btn-color-mobile ">
                            Graphic Design
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-1 submit-btn-color-mobile-1 ">
                            UI
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-2 submit-btn-color-mobile-2 ">
                            UI/UX
                        </button>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn-mobile-3 submit-btn-color-mobile-3 ">
                            Web Design
                        </button>
                        <h3 class="label-desc-2-mobile">Malesuada eu cursus natoque purus ipsum nunc, velit cras tellus.
                            Maecenas viverra pellentesque at ultrices purus vitae quis erat volutpat. Turpis auctor
                            neque bibendum id pellentesque ut egestas. Donec ut faucibus nisl nec at purus. Cursus vel
                            gravida gravida purus varius feugiat.Semper mauris id adipiscing est. Nam leo rutrum gravida
                            curabitur at vel risus. </h3>
                        <button id="buisness-button" [routerLink]="['/contact-us']"
                            class=" btn file-action-btn submit-btn-color ">
                            View more
                        </button>

                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 footer-inside-left-container">
                        <img src="/Espousal-Logo-SVG-01.jpg" alt="logo" class="footer-logo">
                        <h3 class="logo-heading">Espousal</h3>

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 footer-inside-right-container">

                    </div>
                </div>
            </div>





        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 right-container">

        </div>
    </div>
</div>