<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 top-container vertical-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 top-inside-container vertical-horizontal-center">
                        <img src="/Espousal-Logo-SVG-01.jpg" alt="logo" class="logo">
                        <h3 routerLink="/landing-page" routerLinkActive="module-name-active">Espousal</h3>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 top-inside-container vertical-horizontal-center">
                        <h3 class="module-name" routerLink="/about-us" routerLinkActive="module-name-active">About Us</h3>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 top-inside-container-p vertical-horizontal-center">
                        <h3 class="module-name" routerLink="/portfolio" routerLinkActive="module-name-active">Portfolio</h3>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 top-inside-container-b vertical-horizontal-center">
                        <h3 class="module-name" routerLink="/blog" routerLinkActive="module-name-active">Blog</h3>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 top-inside-container-c vertical-horizontal-center">
                        <h3 class="module-name" routerLink="/contact-us" routerLinkActive="module-name-active">Contact Us</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 route-container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 bottom-container">
          

        </div>
    </div>

</div>
