<!-- <p>contact-us works!</p> -->
<!-- <p>contact-us works!</p> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-container">

        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 middle-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 form-container">
                        <h3 class="form-contact">Contact Us</h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 call-container">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                                <span class="material-symbols-outlined">
                                                    mail
                                                    </span>
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-1">Email Us</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                        
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">                                        
                                            </div>
                                            <div class="col-10 col-sm-10 cl-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-2">Feel free to drop us a line.We will respond asap.</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">                                                
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-3">info&#64;espousal.co.in</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 call-container">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                                <span class="material-symbols-outlined">
                                                    call
                                                    </span>
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-1">Call any time</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-2">If you need immediate assistance feel free to call.</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-3">+91 8697351322</h3>
                                            </div>
                                        </div>
                                     
                                            
                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 call-container">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                                <span class="material-symbols-outlined">
                                                    location_on
                                                    </span>
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-1">Visit Us</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-2">Arch Square, SaltLake, Sector-5.</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 label-container">
                                            </div>
                                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 label-container">
                                                <h3 class="form-label-3">Get Direction</h3>
                                            </div>
                                        </div>
                                     
                                            
                                       
                                    </div>

                                </div>
                            </div>
                           
                                
                         
                            
                        </div>

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 map-container">
                        <div class="google-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.1727918170586!2d88.43402187587198!3d22.57263983296789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275a93d245447%3A0xdc70bb0953ee7b92!2sArch%20Square%20-X2!5e0!3m2!1sen!2sin!4v1726739696764!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                       </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 middle-inside-left-container">
                    </div>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 middle-inside-middle-container">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-sm-12 col-lg-12 label-conatiner">
                                    <h3 class="form-message">Leave Us a Message</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 label-conatiner">
                                    <h3 class="form-label-2">Have a project in mind? To request a quote contact us directly or fill out the form and let us know how we can help.</h3>
                                </div>
                            </div>
                            <form [formGroup]="message" *ngIf="message">
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 label-conatiner">
                                        <h3 class="form-label-1">Full Name</h3>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 label-container">
                                        <h3 class="form-label-1">Email Address</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                        <input class="input-box" type="textarea" formControlName="name" placeholder="John Doe">
                                    </div>

                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                        <input class="input-box" type="text" formControlName="email" placeholder="mu**************@gmail.com">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 validation-message-container">
                                        <h3 class="validation-message" 
                                        *ngIf="(message.get('name')?.dirty || message.get('name')?.touched) && message.get('name')?.errors && message.get('name')?.errors?.['inputFieldValidation']">
                                            {{message.get('name')?.errors?.['inputFieldValidation'].message}}</h3>

                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 validation-message-container">
                                        <h3 class="validation-message" 
                                        *ngIf="(message.get('email')?.dirty || message.get('email')?.touched) && message.get('email')?.errors && message.get('email')?.errors?.['inputFieldValidation']">
                                            {{message.get('email')?.errors?.['inputFieldValidation'].message}}</h3>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 label-conatiner">
                                        <h3 class="form-label-1"> Message </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <textarea class="input-box-message" type="text" formControlName="view" rows="4" col="50"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                                    </div>
                                    <!-- <div class="col-2 col-sm-2 col-md-2 col-lg-2 vertical-horizontal-center">
                                        <input class="check-box"type="checkbox" formControlName="check">
                                    </div>
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                                        <h3 class="form-label-terms">I agree to the terms and conditions</h3>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 button-container ">
                                        <input class="btn file-action-btn submit-btn-color" type="button" value="Send Message" (click)="onFormSubmitClick()">
                                    </div>
                                </div>
                                

                            </form>
                            <div *ngIf="showModal" class="modal">
                                <div class="modal-content">
                                  <span class="close" (click)="closeModal()">&times;</span>
                                  <h2>Thank You!</h2>
                                  <p>Your submission has been received. We will contact you shortly.</p>
                                </div>
                              </div>
                             
                        </div>

                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 middle-inside-right-container">

                    </div>
            </div>


        </div>
            
                        
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 bottom-container">

        </div>
    </div>
</div>
                        