$primary-color-1: #2e3192;
$primary-color-2: #762cee;
$primary-color-3: #ED1C24;
$primary-color-4: #FAB726;
$primary-color-5: #333333;
$primary-color-6: #FFFFFF;

$secondary-color-1: #c0c9f5;
$secondary-color-2: #428BCA;
$secondary-color-3: #0f5f4b;
$secondary-color-4: #6378f4;
$secondary-color-5: #777777;
$secondary-color-6: #F7F7F7;


$border-color: #915eccd7;